<strong>Olá, {{name}} </strong>
<p>Seja bem vindo a GoGYM, confira os detalhes da sua matricula: </p>
<p>
  <strong>Plano: </strong>{{plano}}<br>
  <strong>Data de termino: </strong>{{end_date}}<br>
  <strong>Valor: </strong>{{price}},00 R$<br>
</p>
